<template name="home">
    <div class="row">
        <div class="text-center">
            <h1 class="page-header">Welcome to MoneyM!</h1>

            <h3>We are doing our best to help you save your money. And do it in comfortable way!</h3>

            <div style="padding-top: 100px">
                <a class="btn btn-success btn-lg" href="login">Login</a>
                <span>or</span>
                <a class="btn btn-warning btn-lg" href="sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</template>